
<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}"{% endif %}>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KnédlShop</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container fixed">
        <a class="navbar-brand" href="{% url 'E-shop:E-shop_list' %}">KnédlShop</a>
        <button
                class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarNavAltMarkup"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'index' %}">
                    Home
                </a>
            </div>
            {% if user.is_authenticated %}
                {# --- Products --- #}
                <div class="navbar-nav">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="dropdownMenu2" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Products
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <a class="dropdown-item" type="button"
                               href="{% url 'products:kynuté knedlíky' %}">
                                Kynuté knedlíky
                            </a>
                            <a class="dropdown-item"
                               href="{% url 'products:brambrové knedlíky' %}">
                                Bramborové knedlíky
                            </a>
                            <a class="dropdown-item"
                               href="{% url 'products:švestkové knedlíky' %}">
                                Švestkové knedlíky
                            </a>
                            <a class="dropdown-item"
                               href="{% url'products:karlovarké knedlíky' %}">
                               Karlovarské knedlíky
                             </a>
                             <a class="dropdown-item"
                                href="{% url 'products:špekové knedlíky' %}">
                                 Špekové knedlíky
                             </a>


                        </div>
                    </div>
                </div>
                {# --- About us --- #}
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="{% url 'about us' %}">
                        About_us
                    </a>
                </div>
                {# --- Contacts --- #}
                {#
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="{% url 'contacts' %}">
                     Contacts
                    </a>
                </div>

                {# --- Login --- #}
                <div class="navbar-nav">
                    <a class="nav-item nav-link active"
                       href="{% url 'accounts:login' %}">
                        Log_In
                    </a>
                </div>

                {# --- Logout --- #}
                <div class="navbar-nav">
                    <a class="nav-item nav-link active"
                       href="{% url 'accounts:logout_request' %}">
                        Log_Out
                    </a>
                </div>
            {% else %}

                {# --- SignUp --- #}
                <div class="navbar-nav">
                    <a class="nav-item nav-link active"
                       href="{% url 'accounts:sign_up' %}">
                        Sign_Up
                    </a>
                </div>
            {# --- Cart #}
            <div class="navbar-nav">
                <a class="nav-item nav-link active"
                   href="{% url 'cart:cart' %}">
                           Cart
                </a>
            </div>
